## Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup

## Importing dataset

In [2]:
dataset = pd.read_csv('crimes_against_women_2001-2014.csv')
dataset.head(5)

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [3]:
dataset.shape

(10677, 11)

# Data Cleaning

In [4]:
# Checking for missing values.
dataset.isnull().sum()

# There's no missing value.

Unnamed: 0                                             0
STATE/UT                                               0
DISTRICT                                               0
Year                                                   0
Rape                                                   0
Kidnapping and Abduction                               0
Dowry Deaths                                           0
Assault on women with intent to outrage her modesty    0
Insult to modesty of Women                             0
Cruelty by Husband or his Relatives                    0
Importation of Girls                                   0
dtype: int64

In [5]:
# Removing the unnamed column. 
dataset.drop('Unnamed: 0', axis=1, inplace= True)

In [6]:
dataset.head()

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

### Data type check

In [7]:
dataset.info()

# all features seem to be in their correct data type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10677 entries, 0 to 10676
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             10677 non-null  object
 1   DISTRICT                                             10677 non-null  object
 2   Year                                                 10677 non-null  int64
 3   Rape                                                 10677 non-null  int64
 4   Kidnapping and Abduction                             10677 non-null  int64
 5   Dowry Deaths                                         10677 non-null  int64
 6   Assault on women with intent to outrage her modesty  10677 non-null  int64
 7   Insult to modesty of Women                           10677 non-null  int64
 8   Cruelty by Husband or his Relatives                  10677 non-null  int64
 9   Importation of Girls                                 10677 non-null  int64
dtypes: int64(8), object(2)
memory usage: 834.3+ KB

### Consistency Check

In [8]:
def uniquevals(col):
    return dataset[col].unique()

In [9]:
uniq_states = uniquevals('STATE/UT')
uniq_states
# data is inconsistent some states are in upper case and others in lower case.

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY',
       'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'A&N Islands', 'Chandigarh', 'D&N Haveli',
       'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry',
       'Telangana', 'A & N Islands'], dtype=object)

From the internet:

The basic difference between a State and a Union Territory is that union territories are directly ruled by the union government, while states have a separate government for administrative purposes. A nation is known by its states and union territories. __India as a country comprises *28* states and *8* Union Territories__.

In [10]:
# Correcting it by taking everything to uppercase.
dataset['STATE/UT']= dataset['STATE/UT'].str.upper()

In [11]:
print(sorted(uniquevals('STATE/UT')))
len(uniquevals('STATE/UT'))

['A & N ISLANDS', 'A&N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI', 'D&N HAVELI', 'DAMAN & DIU', 'DELHI', 'DELHI UT', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA', 'LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY', 'PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TELANGANA', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']

39

It's possible not all States and UTs are here, but they shouldn't exceed 36, looking closely by sorting we still see some inconsistencies.
1. 'A & N ISLANDS' and 'A&N ISLANDS'
2. 'D & N HAVELI' and 'D&N HAVELI'
3. 'DELHI' and 'DELHI UT'

In [12]:
# correcting
dataset['STATE/UT'].replace('A&N ISLANDS', 'A & N ISLANDS', inplace= True)
dataset['STATE/UT'].replace('D&N HAVELI', 'D & N HAVELI', inplace= True)
dataset['STATE/UT'].replace('DELHI UT', 'DELHI', inplace= True)

In [13]:
len(uniquevals('STATE/UT'))

36

In [14]:
sorted(uniquevals('STATE/UT'))
# the column values are now consistent.

['A & N ISLANDS',
 'ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHANDIGARH',
 'CHHATTISGARH',
 'D & N HAVELI',
 'DAMAN & DIU',
 'DELHI',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'LAKSHADWEEP',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'ODISHA',
 'PUDUCHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TELANGANA',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARAKHAND',
 'WEST BENGAL']

#### Cross Validation.

In [15]:
# Using Beautiful Soup to get data off wikipedia.
'''url = 'https://en.wikipedia.org/wiki/List_of_districts_in_India#:~:text=As%20of%202021%20there%20are,the%202001%20Census%20of%20India.'
state_ut = []

#This part was to access the webpage.

access = requests.get(url)
print(access.status_code)

# This part made me get the source code
source_code = access.content
#print(source_code)

soup = BeautifulSoup(source_code, "html.parser")
# Now that we have put in the source code into the beautiful soup class. We can now get all the links in it.
links = soup.find_all("a")

for link in links:
    # we use the .text or .string function to print out just the text in between each a tag looping through each link
    # with the for loop
    state_ut.append(link.string)
    
state_ut[state_ut.index('Andhra Pradesh'):129]'''

# just so we don't need the internet to get this, i copied it from the list scraped from the internet.
state_utt = ['Andhra Pradesh',
'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'A & N ISLANDS',
 'Chandigarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'JAMMU & KASHMIR',
 'Ladakh',
 'Lakshadweep', 
 'Delhi',
 'Puducherry']

len(state_utt)

36

In [16]:
# Changing the gotten data to uppercase
state_utt = [c.upper() for c in state_utt]

In [17]:
sorted(state_utt) == sorted(uniquevals('STATE/UT'))
# The two lists aren't the same

False

In [18]:
# A closer look
print(sorted(state_utt))
print('i contain {}'.format(len(state_utt)),'\n')
print(sorted(uniquevals('STATE/UT')))
print('i contain {}'.format(len(uniquevals('STATE/UT'))))

['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'DADRA AND NAGAR HAVELI AND DAMAN AND DIU', 'DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA', 'LADAKH', 'LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY', 'PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TELANGANA', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']
i contain 36

['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI', 'DAMAN & DIU', 'DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA', 'LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY', 'PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TELANGANA', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']
i contain 36

### Dadra and Nagar Haveli and Daman and Diu is a union territory in India. The territory was constituted through the merger of the former territories of Dadra and Nagar Haveli and Daman and Diu. Plans for the proposed merger were announced by the Government of India in July 2019, the necessary legislation was passed in the Parliament of India in December 2019 and came into effect on 26 January 2020. 

The most recent year in our dataset is 2014. So i'm guessing they two were different UTs as at the time this data was collected because in our dataset, we have them as two different UTs and we don't have LADAKH in our dataset. So is LADAKH absent from this dataset ?

In [19]:
# to be sure let's look for districts in LADAKH. From the internet, kargil and leh are in LADAKH but we find them in jammu 
# and kashmir.

# so it could mean that the dataset actually contains the whole of india, we can cross valiate the districts to be sure they are
# actually districts in india and know if the dataset contains the whole of india.

dataset[dataset.DISTRICT == 'LEH']

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
219,JAMMU & KASHMIR,LEH,2001,0,1,0,1,0,0,0
936,JAMMU & KASHMIR,LEH,2002,3,1,0,1,1,0,0
1659,JAMMU & KASHMIR,LEH,2003,3,1,0,2,0,0,0
2387,JAMMU & KASHMIR,LEH,2004,3,4,0,3,0,1,0
3121,JAMMU & KASHMIR,LEH,2005,5,3,0,4,0,0,0
3855,JAMMU & KASHMIR,LEH,2006,3,5,0,5,0,0,0
4595,JAMMU & KASHMIR,LEH,2007,2,3,0,4,0,0,0
5340,JAMMU & KASHMIR,LEH,2008,6,3,0,7,0,0,0
6104,JAMMU & KASHMIR,LEH,2009,2,1,0,3,0,0,0
6877,JAMMU & KASHMIR,LEH,2010,2,3,0,3,0,0,0
7659,JAMMU & KASHMIR,LEH,2011,3,0,0,7,1,0,0
8459,JAMMU & KASHMIR,LEH,2012,3,1,0,5,0,0,0
9273,JAMMU & KASHMIR,LEH,2013,2,0,0,2,1,0,0

From the internet:

Kargil, portion of the western Ladakh union territory, northwestern India, **formerly part of northwestern Jammu and Kashmir state.**

So kargil was fromerly part of jammu and kasmir.

In [20]:
# checking the District Column
print(sorted(uniquevals('DISTRICT')))
len(uniquevals('DISTRICT'))

['24 PARGANAS NORTH', '24 PARGANAS SOUTH', 'A and N ISLANDS', 'ADILABAD', 'AGAR', 'AGRA', 'AHMEDABAD COMMR.', 'AHMEDABAD RURAL', 'AHMEDNAGAR', 'AHWA-DANG', 'AIZAWL', 'AJMER', 'AKOLA', 'ALAPUZHA', 'ALIGARH', 'ALIRAJPUR', 'ALLAHABAD', 'ALMORA', 'ALWAR', 'AMBALA', 'AMBALA RURAL', 'AMBALA URBAN', 'AMBEDKAR NAGAR', 'AMETHI', 'AMRAVATI COMMR.', 'AMRAVATI RURAL', 'AMRELI', 'AMRITSAR', 'AMRITSAR RURAL', 'AMROHA', 'ANAND', 'ANANTAPUR', 'ANANTNAG', 'ANDAMAN', 'ANGUL', 'ANJAW', 'ANUPPUR', 'ARARIA', 'ARIYALUR', 'ARWAL', 'ASANSOL', 'ASHOK NAGAR', 'AURAIYA', 'AURANGABAD', 'AURANGABAD COMMR.', 'AURANGABAD RURAL', 'AWANTIPORA', 'AZAMGARH', 'Adilabad', 'Agar', 'Agra', 'Ahmedabad City', 'Ahmedabad Rural', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola', 'Alapuzha', 'Aligarh', 'Alipurduar', 'Alirajpur', 'Allahabad', 'Almora', 'Alwar', 'Ambala (Rural)', 'Ambala (Urban)', 'Ambedkar Nagar', 'Amethi', 'Amravati Commr.', 'Amravati Rural', 'Amreli', 'Amritsar Rural', 'Amroha', 'Anand', 'Anantapur', 'Anantnag', 'Angul', 'Anjaw', 'Anti Terrorist Squad', 'Anuppur', 'Araria', 'Ariyalur', 'Arvalli', 'Arwal', 'Asansol-Durgapur PC', 'Ashok Nagar', 'Auraiya', 'Aurangabad', 'Aurangabad Commr.', 'Aurangabad Rural', 'Awantipora', 'Azamgarh', 'BADAUN', 'BADDIPOLICEDIST', 'BAGAHA', 'BAGALKOT', 'BAGESHWAR', 'BAGHPAT', 'BAHRAICH', 'BAKSA', 'BALAGHAT', 'BALASORE', 'BALLIA', 'BALOD', 'BALODA BAZAR', 'BALRAMPUR', 'BANDA', 'BANDIPORA', 'BANGALORE COMMR.', 'BANGALORE RURAL', 'BANKA', 'BANKURA', 'BANSWARA', 'BARABANKI', 'BARAGARH', 'BARAMULLA', 'BARAN', 'BAREILLY', 'BARMER', 'BARNALA', 'BARPETA', 'BARWANI', 'BASKA', 'BASTI', 'BATALA', 'BDN CP', 'BEED', 'BEGUSARAI', 'BELGAUM', 'BELLARY', 'BEMETARA', 'BERHAMPUR', 'BETTIAH', 'BETUL', 'BHABHUA', 'BHADRAK', 'BHAGALPUR', 'BHANDARA', 'BHARATPUR', 'BHARUCH', 'BHATINDA', 'BHAVNAGAR', 'BHILWARA', 'BHIM NAGAR', 'BHIND', 'BHIWANI', 'BHOJPUR', 'BHOPAL', 'BHOPAL RLY.', 'BIDAR', 'BIEO', 'BIJAPUR', 'BIJNOR', 'BIKANER', 'BILASPUR', 'BIRBHUM', 'BISHNUPUR', 'BIZAPUR', 'BKP CP', 'BOKARO', 'BOLANGIR', 'BONGAIGAON', 'BORDER', 'BORDER DISTRICT', 'BOUDH', 'BUDGAM', 'BULANDSHAHAR', 'BULDHANA', 'BUNDI', 'BURDWAN', 'BURHANPUR', 'BUXAR', 'Badaun', 'Baddi', 'Bagaha', 'Bagalkot', 'Bageshwar', 'Baghpat', 'Bahraich', 'Baksa', 'Balaghat', 'Balasore', 'Ballari', 'Ballia', 'Balod', 'Balodbazar', 'Balrampur', 'Banaskantha', 'Banda', 'Bandipora', 'Banka', 'Bankura', 'Banswara', 'Barabanki', 'Baragarh', 'Baramulla', 'Baran', 'Bareilly', 'Barmer', 'Barnala', 'Barpeta', 'Barrackpur PC', 'Barwani', 'Basti', 'Batala', 'Bathinda', 'Beed', 'Begusarai', 'Belagavi City', 'Belagavi District', 'Bemetra', 'Bengaluru City', 'Bengaluru District', 'Berhampur', 'Bettiah', 'Betul', 'Bhabhua', 'Bhadohi', 'Bhadrak', 'Bhagalpur', 'Bhandara', 'Bharatpur', 'Bharuch', 'Bhavnagar', 'Bhilwara', 'Bhind', 'Bhiwani', 'Bhojpur', 'Bhopal', 'Bhopal Railway', 'Bidar', 'Bidhannagar PC', 'Bijnor', 'Bikaner', 'Bilaspur', 'Birbhum', 'Bishnupur', 'Bizapur', 'Bokaro', 'Bolangir', 'Bongaigaon', 'Botad', 'Boudh', 'Budgam', 'Bulandshahar', 'Buldhana', 'Bundi', 'Burdwan', 'Burhanpur', 'Buxar', 'C. I. D.', 'C. I. D. Crime', 'C.I.D.', 'CACHAR', 'CAR', 'CAW', 'CBCID', 'CBPURA', 'CENTRAL', 'CHAIBASA', 'CHAMARAJNAGAR', 'CHAMBA', 'CHAMOLI', 'CHAMPAWAT', 'CHAMPHAI', 'CHANDEL', 'CHANDIGARH', 'CHANDOLI', 'CHANDRAPUR', 'CHANGLANG', 'CHATRA', 'CHENGAI', 'CHENNAI', 'CHENNAI RLY.', 'CHENNAISUBURBAN', 'CHHATARPUR', 'CHHINDWARA', 'CHICKMAGALUR', 'CHIRANG', 'CHITRADURGA', 'CHITRAKOOT DHAM', 'CHITTOOR', 'CHITTORGARH', 'CHURACHANDPUR', 'CHURU', 'CID', 'CID CRIME', 'COIMBATORE RURAL', 'COIMBATORE URBAN', 'COOCHBEHAR', 'CP AMRITSAR', 'CP Amritsar', 'CP JALANDHAR', 'CP Jalandhar', 'CP LUDHIANA', 'CP Ludhiana', 'CRIME BRANCH', 'CRIME JAMMU', 'CRIME KASHMIR', 'CRIME SRINAGAR', 'CSM NAGAR', 'CUDDALORE', 'CUDDAPAH', 'CUTTACK', 'CYBERABAD', 'Cachar', 'Central', 'Chaibasa', 'Chamarajnagar', 'Chamba', 'Chamoli', 'Champawat', 'Champhai', 'Chandel', 'Chandigarh', 'Chandoli', 'Chandrapur', 'Changlang', 'Chatra', 'Chennai', 'Chhatarpur', 'Chhindwara', 'Chhotaudepur', 'Chikkaballapura', 'Chikkamagaluru', 'Chirang', 'Chitradurga', 'Chitrakoot', 'Chittoor', 'Chittorgarh', 'Churachandpur', 'Churu', 'Coimbatore', 'Coimbatore City', 'Coochbehar', 'Crime Branch', 'Crime Jammu', 'Crime Srinagar', 'Cuddalore', 'Cuddapah', 'Cuttack', 'Cyber Cell', 'Cyberabad', 'D and N HAVELI', 'D&N HAVELI', 'D&N Haveli', 'DAHOD', 'DAKSHIN DINAJPUR', 'DAKSHIN KANNADA', 'DAMAN', 'DAMOH', 'DANTEWARA', 'DARBHANGA', 'DARJEELING', 'DARRANG', 'DATIYA', 'DAUSA', 'DAVANAGERE', 'DCP BBSR', 'DCP CTC', 'DEHRADUN', 'DELHI UT TOTAL', 'DEOGARH', 'DEOGHAR', 'DEORIA', 'DEWAS', 'DHALAI', 'DHAMTARI', 'DHANBAD', 'DHANBAD RLY.', 'DHAR', 'DHARMAPURI', 'DHARWAD COMMR.', 'DHARWAD RURAL', 'DHEMAJI', 'DHENKANAL', 'DHOLPUR', 'DHUBRI', 'DHULE', 'DIBANG VALLEY', 'DIBRUGARH', 'DIMAPUR', 'DINDIGUL', 'DINDORI', 'DISCOM', 'DIU', 'DODA', 'DUMKA', 'DUNGARPUR', 'DURG', 'Dahod', 'Dakshin Dinajpur', 'Dakshina Kannada', 'Daman', 'Damoh', 'Dang', 'Dantewara', 'Darbhanga', 'Darjeeling', 'Darrang', 'Datia', 'Dausa', 'Davanagere', 'Dehradun', 'Deogarh', 'Deoghar', 'Deoria', 'Devbhumi Dwarka', 'Dewas', 'Dhalai', 'Dhamtari', 'Dhanbad', 'Dhanbad Railway', 'Dhar', 'Dharmapuri', 'Dharwad', 'Dhemaji', 'Dhenkanal', 'Dholpur', 'Dhubri', 'Dhule', 'Dibang Valley', 'Dibrugarh', 'Dima Hasao', 'Dimapur', 'Dindigul', 'Dindori', 'Diu', 'Doda', 'Dumka', 'Dungarpur', 'Durg', 'EAST', 'EAST GODAVARI', 'EOW', 'ERNAKULAM', 'ERNAKULAM COMMR.', 'ERNAKULAM RURAL', 'ERODE', 'ETAH', 'ETAWAH', 'East', 'East Godavari', 'Economic Offences Unit', 'Ernakulam Commr.', 'Ernakulam Rural', 'Erode', 'Etah', 'Etawah', 'FAIZABAD', 'FARIDABAD', 'FARIDKOT', 'FATEHABAD', 'FATEHGARH', 'FATEHGARH SAHIB', 'FATEHPUR', 'FAZILKA', 'FEROZEPUR', 'FEROZPUR', 'FIROZABAD', 'Faizabad', 'Faridabad', 'Faridkot', 'Fatehabad', 'Fatehgarh', 'Fatehgarh Sahib', 'Fatehpur', 'Fazilka', 'Ferozepur', 'Firozabad', 'G. R. P.', 'G. R. P. Raipur', 'G.R.P', 'G.R.P.', 'G.R.P. AJMER', 'G.R.P. JODHPUR', 'G.R.P.(RLY)', 'G.R.P.AJMER', 'G.R.P.Ajmer', 'G.R.P.JODHPUR', 'G.R.P.Jodhpur', 'GADAG', 'GADCHIROLI', 'GAJAPATI', 'GANDERBAL', 'GANDHINAGAR', 'GANGANAGAR', 'GANJAM', 'GARHWA', 'GARIYABAND', 'GARO HILLS EAST', 'GARO HILLS NORTH', 'GARO HILLS SOUTH', 'GARO HILLS SOUTH W.', 'GARO HILLS WEST', 'GAUTAMBUDH NAGAR', 'GAYA', 'GHAZIABAD', 'GHAZIPUR', 'GIRIDIH', 'GOALPARA', 'GODDA', 'GOLAGHAT', 'GOMATI', 'GONDA', 'GONDIA', 'GOPALGANJ', 'GORAKHPUR', 'GRP', 'GRP RAIPUR', 'GRP(RLY)', 'GULBARGA', 'GUMLA', 'GUNA', 'GUNTAKAL RLY.', 'GUNTUR', 'GUNTUR URBAN', 'GURDASPUR', 'GURGAON', 'GUWAHATI CITY', 'GWALIOR', 'Gadag', 'Gadchiroli', 'Gajapati', 'Ganderbal', 'Gandhinagar', 'Ganganagar', 'Ganjam', 'Garhwa', 'Gariyaband', 'Garo Hills East', 'Garo Hills North', 'Garo Hills South', 'Garo Hills South West', 'Garo Hills West', 'Gautambudh Nagar', 'Gaya', 'Ghaziabad', 'Ghazipur', 'Gir Somnath', 'Giridih', 'Goalpara', 'Godda', 'Golaghat', 'Gomati', 'Gonda', 'Gondia', 'Gopalganj', 'Gorakhpur', 'Gumla', 'Guna', 'Guntakal Railway', 'Guntur', 'Guntur Urban', 'Gurdaspur', 'Gurgaon', 'Guwahati City', 'Gwalior', 'HAILAKANDI', 'HAMIRPUR', 'HAMREN', 'HANDWARA', 'HANUMANGARH', 'HAPUR', 'HARDA', 'HARDOI', 'HARIDWAR', 'HASSAN', 'HATHRAS', 'HAVERI', 'HAZARIBAGH', 'HIMATNAGAR', 'HINGOLI', 'HISSAR', 'HOOGHLY', 'HOSHANGABAD', 'HOSHIARPUR', 'HOWRAH', 'HOWRAH CITY', 'HOWRAH G.R.P.', 'HYDERABAD CITY', 'Hailakandi', 'Hamirpur', 'Handwara', 'Hanumangarh', 'Hapur', 'Harda', 'Hardoi', 'Haridwar', 'Hassan', 'Hathras', 'Haveri', 'Hazaribagh', 'Hingoli', 'Hissar', 'Hooghly', 'Hoshangabad', 'Hoshiarpur', 'Howrah G. R. P.', 'Howrah PC', 'Howrah Rural', 'Hubballi Dharwad City', 'Hyderabad City', 'I&P HARYANA', 'I.G.I. AIRPORT', 'IDUKKI', 'IGI AIRPORT', 'IGI Airport', 'IMPHAL EAST', 'IMPHAL WEST', 'IMPHAL(EAST)', 'IMPHAL(WEST)', 'INDORE', 'INDORE RLY.', 'Idukki', 'Imphal East', 'Imphal West', 'Indore', 'Indore Railway', 'Irrigation & Power', 'J.P.NAGAR', 'JABALPUR', 'JABALPUR RLY.', 'JAGATSINGHPUR', 'JAGDALPUR', 'JAGRAON', 'JAINTIA HILLS', 'JAINTIA HILLS EAST', 'JAINTIA HILLS WEST', 'JAIPUR', 'JAIPUR EAST', 'JAIPUR NORTH', 'JAIPUR RURAL', 'JAIPUR SOUTH', 'JAIPUR WEST', 'JAISALMER', 'JAJPUR', 'JALANDHAR', 'JALANDHAR RURAL', 'JALAUN', 'JALGAON', 'JALNA', 'JALORE', 'JALPAIGURI', 'JAMALPUR RLY.', 'JAMMU', 'JAMNAGAR', 'JAMSHEDPUR', 'JAMSHEDPUR RLY.', 'JAMTARA', 'JAMUI', 'JANJGIR', 'JASHPUR', 'JAUNPUR', 'JEHANABAD', 'JHABUA', 'JHAJJAR', 'JHALAWAR', 'JHANSI', 'JHARGRAM', 'JHARSUGUDA', 'JHUNJHUNU', 'JIND', 'JODHPUR', 'JODHPUR CITY', 'JODHPUR EAST', 'JODHPUR RURAL', 'JODHPUR WEST', 'JORHAT', 'JUNAGADH', 'Jabalpur', 'Jabalpur Railway', 'Jagatsinghpur', 'Jagdalpur', 'Jaintia Hills East', 'Jaintia Hills West', 'Jaipur East', 'Jaipur North', 'Jaipur Rural', 'Jaipur South', 'Jaipur West', 'Jaisalmer', 'Jajpur', 'Jalandhar Rural', 'Jalaun', 'Jalgaon', 'Jalna', 'Jalore', 'Jalpaiguri', 'Jamalpur Railway', 'Jammu', 'Jamnagar', 'Jamshedpur', 'Jamshedpur Railway', 'Jamtara', 'Jamui', 'Janjgir', 'Jashpur', 'Jaunpur', 'Jehanabad', 'Jhabua', 'Jhajjar', 'Jhalawar', 'Jhansi', 'Jhargram Police District', 'Jharsuguda', 'Jhunjhunu', 'Jind', 'Jodhpur East', 'Jodhpur Rural', 'Jodhpur West', 'Jorhat', 'Junagadh', 'K.G.F.', 'K.Railways', 'K/KUMEY', 'KABIRDHAM', 'KAITHAL', 'KALAHANDI', 'KAMENG EAST', 'KAMENG WEST', 'KAMRUP', 'KANCHIPURAM', 'KANDHAMAL', 'KANGRA', 'KANKER', 'KANNAUJ', 'KANNUR', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KANSHIRAM NAGAR', 'KANYAKUMARI', 'KAPURTHALA', 'KARAIKAL', 'KARAULI', 'KARBI ANGLONG', 'KARGIL', 'KARIMGANJ', 'KARIMNAGAR', 'KARNAL', 'KARUR', 'KASARGOD', 'KASGANJ', 'KATHUA', 'KATIHAR', 'KATIHAR RLY.', 'KATNI', 'KAUSHAMBI', 'KAWARDHA', 'KENDRAPARA', 'KEONJHAR', 'KHAGARIA', 'KHAMMAM', 'KHANDWA', 'KHANNA', 'KHARAGPUR G.R.P.', 'KHARGON', 'KHASI HILLS EAST', 'KHASI HILLS SOUTH W.', 'KHASI HILLS WEST', 'KHEDA NORTH', 'KHIRI', 'KHOWAI', 'KHUNTI', 'KHURDA', 'KINNAUR', 'KIPHIRE', 'KISHANGANJ', 'KISHTWAR', 'KODAGU', 'KODERMA', 'KOHIMA', 'KOKRAJHAR', 'KOLAR', 'KOLASIB', 'KOLHAPUR', 'KOLKATA', 'KOLLAM', 'KOLLAM COMMR.', 'KOLLAM RURAL', 'KONDAGAON', 'KOPPAL', 'KORAPUT', 'KORBA', 'KORIYA', 'KOTA', 'KOTA CITY', 'KOTA RURAL', 'KOTTAYAM', 'KOZHIKODE', 'KOZHIKODE COMMR.', 'KOZHIKODE RURAL', 'KRISHNA', 'KRISHNAGIRI', 'KULGAM', 'KULLU', 'KUPWARA', 'KURNOOL', 'KURUKSHETRA', 'KUSHI NAGAR', 'KUTCH', 'KUTCH (EAST(G))', 'KUTCH (WEST-BHUJ)', 'Kabirdham', 'Kachchh East(G)', 'Kachchh West(B)', 'Kaithal', 'Kalaburgi', 'Kalahandi', 'Kameng East', 'Kameng West', 'Kamrup', 'Kanchipuram', 'Kandhamal', 'Kangra', 'Kanker', 'Kannauj', 'Kannur', 'Kanpur Dehat', 'Kanpur Nagar', 'Kanyakumari', 'Kapurthala', 'Karaikal', 'Karauli', 'Karbi Anglong', 'Kargil', 'Karimganj', 'Karimnagar', 'Karnal', 'Karur', 'Kasargod', 'Kasganj', 'Kathua', 'Katihar', 'Katihar Railway', 'Katni', 'Kaushambi', 'Kendrapara', 'Keonjhar', 'Khagaria', 'Khammam', 'Khandwa', 'Khanna', 'Kharagpur G. R. P.', 'Khargone', 'Khasi Hills East', 'Khasi Hills South West', 'Khasi Hills West', 'Kheda', 'Khiri', 'Khunti', 'Khurda', 'Kinnaur', 'Kiphire', 'Kishanganj', 'Kishtwar', 'Kodagu', 'Koderma', 'Kohima', 'Kokrajhar', 'Kolar', 'Kolasib', 'Kolhapur', 'Kolkata', 'Kollam Commr.', 'Kollam Rural', 'Kondagaon', 'Koppal', 'Koraput', 'Korba', 'Koriya', 'Kota City', 'Kota Rural', 'Kottayam', 'Kowai', 'Kozhikode Commr.', 'Kozhikode Rural', 'Krishna', 'Krishnagiri', 'Kulgam', 'Kullu', 'Kupwara', 'Kurnool', 'Kurukshetra', 'Kurung Kumey', 'Kushi Nagar', 'LAHAUL-SPITI', 'LAKHIMPUR', 'LAKHISARAI', 'LAKSHADWEEP', 'LALITPUR', 'LATEHAR', 'LATUR', 'LAWNGTLAI', 'LEH', 'LOHARDAGGA', 'LOHIT', 'LONGDING', 'LONGLENG', 'LUCKNOW', 'LUDHIANA', 'LUDHIANA RURAL', 'LUNGLEI', 'Lahaul & Spiti', 'Lakhimpur', 'Lakhisarai', 'Lakshadweep', 'Lalitpur', 'Latehar', 'Latur', 'Lawngtlai', 'Leh', 'Lohardagga', 'Lohit', 'Longding', 'Longleng', 'Lower Dibang Valley', 'Lucknow', 'Ludhiana Rural', 'Lunglei', 'MADHEPURA', 'MADHUBANI', 'MADURAI RURAL', 'MADURAI URBAN', 'MAHABOOBNAGAR', 'MAHARAJGANJ', 'MAHASAMUND', 'MAHENDRAGARH', 'MAHOBA', 'MAINPURI', 'MAJITHA', 'MALAPPURAM', 'MALDA', 'MALKANGIR', 'MAMIT', 'MANDI', 'MANDLA', 'MANDSAUR', 'MANDYA', 'MANGALORE CITY', 'MANSA', 'MATHURA', 'MAU', 'MAYURBHANJ', 'MEDAK', 'MEERUT', 'MEHSANA', 'METRO RAIL', 'MEWAT', 'MIDNAPUR', 'MIRZAPUR', 'MOGA', 'MOKOKCHUNG', 'MON', 'MORADABAD', 'MORENA', 'MORIGAON', 'MOTIHARI', 'MUKTSAR', 'MUMBAI', 'MUMBAI COMMR.', 'MUMBAI RLY.', 'MUNGELI', 'MUNGER', 'MURSHIDABAD', 'MUZAFFARNAGAR', 'MUZAFFARPUR', 'MUZAFFARPUR RLY.', 'MYSORE COMMR.', 'MYSORE RURAL', 'Madhepura', 'Madhubani', 'Madurai', 'Madurai City', 'Mahaboob Nagar', 'Maharajganj', 'Mahasamund', 'Mahendergarh', 'Mahisagar', 'Mahoba', 'Mainpuri', 'Malappuram', 'Malda', 'Malkangiri', 'Mamit', 'Mandi', 'Mandla', 'Mandsaur', 'Mandya', 'Mangaluru City', 'Mansa', 'Mathura', 'Mau', 'Mayurbhanj', 'Medak', 'Meerut', 'Mehsana', 'Metro', 'Mewat', 'Mirzapur', 'Moga', 'Mokokchung', 'Mon', 'Moradabad', 'Morbi', 'Morena', 'Morigaon', 'Motihari', 'Muktsar', 'Mumbai Commr.', 'Mumbai Railway', 'Mungali', 'Munger', 'Murshidabad', 'Muzaffarnagar', 'Muzaffarpur', 'Muzaffarpur Railway', 'Mysuru City', 'Mysuru District', 'N.C.HILLS', 'NADIA', 'NAGAON', 'NAGAPATTINAM', 'NAGAUR', 'NAGPUR COMMR.', 'NAGPUR RLY.', 'NAGPUR RURAL', 'NAINITAL', 'NALANDA', 'NALBARI', 'NALGONDA', 'NAMAKKAL', 'NANDED', 'NANDURBAR', 'NARAYANPUR', 'NARMADA', 'NARSINGHPUR', 'NASIK COMMR.', 'NASIK RURAL', 'NAUGACHIA', 'NAVI MUMBAI', 'NAVSARI', 'NAWADAH', 'NAWAN SHAHR', 'NAYAGARH', 'NEEMUCH', 'NELLORE', 'NEW DELHI', 'NICOBAR', 'NILGIRIS', 'NIZAMABAD', 'NORTH', 'NORTH EAST', 'NORTH GOA', 'NORTH WEST', 'NORTH-EAST', 'NORTH-WEST', 'NOWRANGPUR', 'NUAPADA', 'Nabarangpur', 'Nadia', 'Nagaon', 'Nagapattinam', 'Nagaur', 'Nagpur Commr.', 'Nagpur Railway', 'Nagpur Rural', 'Nainital', 'Nalanda', 'Nalbari', 'Nalgonda', 'Namakkal', 'Nanded', 'Nandurbar', 'Narayanpur', 'Narmada', 'Narsinghpur', 'Nasik Commr.', 'Nasik Rural', 'Naugachia', 'Navi Mumbai', 'Navsari', 'Nawadah', 'Nayagarh', 'Neemuch', 'Nellore', 'New Delhi', 'Nicobar', 'Nilgiris', 'Nizamabad', 'North', 'North & Middle Andaman', 'North 24 Parganas', 'North Goa', 'North-East', 'North-West', 'Nuapada', 'OSMANABAD', 'OUTER', 'Osmanabad', 'Other Units', 'Outer', 'PAKUR', 'PALAKKAD', 'PALAMU', 'PALANPUR', 'PALI', 'PALWAL', 'PANCHKULA', 'PANCHMAHAL', 'PANCHSHIL NAGAR', 'PANIPAT', 'PANNA', 'PAPUM PARE', 'PARBHANI', 'PASCHIM MIDNAPUR', 'PATAN', 'PATHANAMTHITTA', 'PATHANKOT', 'PATIALA', 'PATNA', 'PATNA RLY.', 'PAURI GARHWAL', 'PERAMBALUR', 'PEREN', 'PHEK', 'PILIBHIT', 'PITHORAGARH', 'PONDICHERRY', 'POONCH', 'PORBANDAR', 'PRABUDDH NAGAR', 'PRAKASHAM', 'PRATAPGARH', 'PUDUCHERRY', 'PUDUKOTTAI', 'PULWAMA', 'PUNE COMMR.', 'PUNE RLY.', 'PUNE RURAL', 'PURAB MIDNAPUR', 'PURI', 'PURNEA', 'PURULIA', 'Pakur', 'Palakkad', 'Palamu', 'Palghar', 'Pali', 'Palwal', 'Panchkula', 'Panchmahal', 'Panipat', 'Panna', 'Papum Pare City', 'Papum Pare Rural', 'Parbhani', 'Paschim Medinipur', 'Patan', 'Pathanamthitta', 'Pathankot', 'Patiala', 'Patna', 'Patna Railway', 'Pauri Garhwal', 'Perambalur', 'Peren', 'Phek', 'Pilibhit', 'Pithoragarh', 'Poonch', 'Porbandar', 'Prakasham', 'Pratapgarh', 'Puducherry', 'Pudukottai', 'Pulwama', 'Pune Commr.', 'Pune Railway', 'Pune Rural', 'Purab Medinipur', 'Puri', 'Purnea', 'Purulia', 'R.P.O.', 'RAIBAREILLY', 'RAICHUR', 'RAIGAD', 'RAIGARH', 'RAILWAY', 'RAILWAYS', 'RAILWAYS JAMMU', 'RAILWAYS KASHMIR', 'RAILWAYS KATRA', 'RAILWAYS KMR', 'RAIPUR', 'RAISEN', 'RAJAHMUNDRY', 'RAJGARH', 'RAJKOT COMMR.', 'RAJKOT RURAL', 'RAJNANDGAON', 'RAJOURI', 'RAJSAMAND', 'RAMABAI NAGAR', 'RAMANAGAR', 'RAMBAN', 'RAMGARH', 'RAMNATHAPURAM', 'RAMPUR', 'RANCHI', 'RANGA REDDY', 'RATLAM', 'RATNAGIRI', 'RAYAGADA', 'REASI', 'REWA', 'REWARI', 'RI-BHOI', 'ROHTAK', 'ROHTAS', 'ROPAR', 'ROURKELA', 'RUDRA PRAYAG', 'RURAL', 'Raibareilly', 'Raichur', 'Raigad', 'Raigarh', 'Railway Chennai', 'Railway Trichy', 'Railways', 'Railways Jammu', 'Railways Kashmir', 'Railways Katra', 'Raipur', 'Raisen', 'Rajahmundry', 'Rajgarh', 'Rajkot City', 'Rajkot Rural', 'Rajnandgaon', 'Rajouri', 'Rajsamand', 'Ramanagara', 'Ramban', 'Ramgarh', 'Ramnathapuram', 'Rampur', 'Ranchi', 'Ranga Reddy', 'Ratlam', 'Ratnagiri', 'Rayagada', 'Reasi', 'Rewa', 'Rewari', 'Ri-Bhoi', 'Rohtak', 'Rohtas', 'Ropar', 'Rourkela', 'Rudra Prayag', 'S.T.F.', 'SAGAR', 'SAHARANPUR', 'SAHARSA', 'SAHEBGANJ', 'SAIHA', 'SALEM RURAL', 'SALEM URBAN', 'SAMASTIPUR', 'SAMBA', 'SAMBALPUR', 'SAMBHAL', 'SANGLI', 'SANGRUR', 'SANT KABIRNAGAR', 'SARAIKELA', 'SARAN', 'SARGUJA', 'SAS NGR', 'SAS Nagar', 'SATARA', 'SATNA', 'SAWAI MADHOPUR', 'SBS NAGAR', 'SBS Nagar', 'SEALDAH G.R.P.', 'SECUNDERABAD RLY.', 'SENAPATI', 'SEONI', 'SERCHHIP', 'SHAHDOL', 'SHAHJAHANPUR', 'SHAJAPUR', 'SHAMLI', 'SHEIKHPURA', 'SHEOHAR', 'SHEOPUR', 'SHIMLA', 'SHIMOGA', 'SHIVPURI', 'SHOPIAN', 'SHRAWASTI', 'SIANG EAST', 'SIANG UPPER', 'SIANG WEST', 'SIBSAGAR', 'SIDHARTHNAGAR', 'SIDHI', 'SIHORE', 'SIKAR', 'SILIGURI G.R.P.', 'SILIGURI_PC', 'SIMDEGA', 'SINDHUDURG', 'SINGRAULI', 'SIPAHIJALA', 'SIRMAUR', 'SIROHI', 'SIRSA', 'SITAMARHI', 'SITAPUR', 'SIVAGANGAI', 'SIWAN', 'SOLAN', 'SOLAPUR COMMR.', 'SOLAPUR RURAL', 'SONBHADRA', 'SONEPUR', 'SONIPAT', 'SONITPUR', 'SOPORE', 'SOUTH', 'SOUTH GOA', 'SOUTH WEST', 'SOUTH-EAST', 'SOUTH-WEST', 'SPL CELL', 'SPL NARCOTIC', 'SPUWAC', 'SRIKAKULAM', 'SRINAGAR', 'SRP (Cuttack)', 'SRP (Rourkela)', 'SRP(CUTTACK)', 'SRP(ROURKELA)', 'ST.RAVIDASNAGAR', 'STF', 'SUBANSIRI LOWER', 'SUBANSIRI UPPER', 'SUKMA', 'SULTANPUR', 'SUNDARGARH', 'SUPAUL', 'SURAJPUR', 'SURAT COMMR.', 'SURAT RURAL', 'SURENDRANAGAR', 'Sabarkantha', 'Sagar', 'Saharanpur', 'Saharsa', 'Sahebganj', 'Saiha', 'Salem', 'Salem City', 'Samastipur', 'Samba', 'Sambalpur', 'Sambhal', 'Sangli', 'Sangrur', 'Sant Kabirnagar', 'Saraikela', 'Saran', 'Sarguja', 'Satara', 'Satna', 'Sawai Madhopur', 'Sealdah G. R. P.', 'Secunderabad Railway', 'Sehore', 'Senapati', 'Seoni', 'Serchhip', 'Shahdol', 'Shahjahanpur', 'Shajapur', 'Shamli', 'Sheikhpura', 'Sheohar', 'Sheopur', 'Shimla', 'Shimoga', 'Shivpuri', 'Shopian', 'Shrawasti', 'Siang East', 'Siang Upper', 'Siang West', 'Sibsagar', 'Sidharthnagar', 'Sidhi', 'Sikar', 'Siliguri G. R. P.', 'Siliguri PC', 'Simdega', 'Sindhudurg', 'Singrauli', 'Sipahijala', 'Sirmaur', 'Sirohi', 'Sirsa', 'Sitamarhi', 'Sitapur', 'Sivagangai', 'Siwan', 'Solan', 'Solapur Commr.', 'Solapur Rural', 'Sonbhadra', 'Sonepur', 'Sonipat', 'Sonitpur', 'Sopore', 'South', 'South 24 Parganas', 'South Andaman', 'South Goa', 'South-East', 'South-West', 'Spl Cell', 'Spl Traffic', 'Srikakulam', 'Srinagar', 'Subansiri Lower', 'Subansiri Upper', 'Sukma', 'Sultanpur', 'Sundargarh', 'Supaul', 'Surajpur', 'Surat City', 'Surat Rural', 'Surendranagar', 'TAMENGLONG', 'TAPI', 'TARN TARAN', 'TAWANG', 'TEHRI GARHWAL', 'THANE COMMR.', 'THANE RURAL', 'THANJAVUR', 'THENI', 'THIRUNELVELI RURAL', 'THIRUNELVELI URBAN', 'THIRUVALLUR', 'THIRUVANNAMALAI', 'THIRUVARUR', 'THOOTHUGUDI', 'THOUBAL', 'THRISSUR', 'THRISSUR COMMR.', 'THRISSUR RURAL', 'TIKAMGARH', 'TINSUKIA', 'TIRAP', 'TIRUPATHI URBAN', 'TIRUPPUR', 'TONK', 'TOTAL', 'TRAFFIC PS', 'TRICHY RLY.', 'TRICHY RURAL', 'TRICHY URBAN', 'TRIVANDRUM', 'TRIVANDRUM COMMR.', 'TRIVANDRUM RURAL', 'TUENSANG', 'TUMKUR', 'Tamenglong', 'Tapi', 'Tarn Taran', 'Tawang', 'Tehri Garhwal', 'Thane Commr.', 'Thane Rural', 'Thanjavur', 'Theni', 'Thirunelveli', 'Thirunelveli City', 'Thiruvallur', 'Thiruvannamalai', 'Thiruvarur', 'Thoothukudi', 'Thoubal', 'Thrissur Commr.', 'Thrissur Rural', 'Tikamgarh', 'Tinsukia', 'Tirap', 'Tirupathi Urban', 'Tiruppur', 'Tiruppur City', 'Tonk', 'Total District(s)', 'Trichy', 'Trichy City', 'Trivandrum Commr.', 'Trivandrum Rural', 'Tuensang', 'Tumakuru', 'UDAIPUR', 'UDALGURI', 'UDHAMPUR', 'UDHAMSINGH NAGAR', 'UDUPI', 'UJJAIN', 'UKHRUL', 'UMARIYA', 'UNA', 'UNAKOTI', 'UNNAO', 'UPPER DIBANG VALLEY', 'UTTAR DINAJPUR', 'UTTAR KANNADA', 'UTTARKASHI', 'Udaipur', 'Udalguri', 'Udhampur', 'Udhamsingh Nagar', 'Udupi', 'Ujjain', 'Ukhrul', 'Umaria', 'Una', 'Unakoti', 'Unnao', 'Uttar Dinajpur', 'Uttara Kannada', 'Uttarkashi', 'VADODARA COMMR.', 'VADODARA RURAL', 'VAISHALI', 'VALSAD', 'VARANASI', 'VELLORE', 'VIDISHA', 'VIJAYAWADA', 'VIJAYAWADA CITY', 'VIJAYAWADA RLY.', 'VIL

1605

In [21]:
# we notice some are in uppercase and others in lower, so we correct that.
# Correcting it and making everything in uppercase.
dataset['DISTRICT']= dataset['DISTRICT'].str.upper()

In [22]:
print(sorted(uniquevals('DISTRICT')))
len(uniquevals('DISTRICT'))

# It appears wikipedia doesn't contain all the districts for example we don't see ANTI TERRORIST SQUAD in wikipedia but it's in
# our dataset but all it's values are 0 is it really a district in india ?

['24 PARGANAS NORTH', '24 PARGANAS SOUTH', 'A AND N ISLANDS', 'ADILABAD', 'AGAR', 'AGRA', 'AHMEDABAD CITY', 'AHMEDABAD COMMR.', 'AHMEDABAD RURAL', 'AHMEDNAGAR', 'AHWA-DANG', 'AIZAWL', 'AJMER', 'AKOLA', 'ALAPUZHA', 'ALIGARH', 'ALIPURDUAR', 'ALIRAJPUR', 'ALLAHABAD', 'ALMORA', 'ALWAR', 'AMBALA', 'AMBALA (RURAL)', 'AMBALA (URBAN)', 'AMBALA RURAL', 'AMBALA URBAN', 'AMBEDKAR NAGAR', 'AMETHI', 'AMRAVATI COMMR.', 'AMRAVATI RURAL', 'AMRELI', 'AMRITSAR', 'AMRITSAR RURAL', 'AMROHA', 'ANAND', 'ANANTAPUR', 'ANANTNAG', 'ANDAMAN', 'ANGUL', 'ANJAW', 'ANTI TERRORIST SQUAD', 'ANUPPUR', 'ARARIA', 'ARIYALUR', 'ARVALLI', 'ARWAL', 'ASANSOL', 'ASANSOL-DURGAPUR PC', 'ASHOK NAGAR', 'AURAIYA', 'AURANGABAD', 'AURANGABAD COMMR.', 'AURANGABAD RURAL', 'AWANTIPORA', 'AZAMGARH', 'BADAUN', 'BADDI', 'BADDIPOLICEDIST', 'BAGAHA', 'BAGALKOT', 'BAGESHWAR', 'BAGHPAT', 'BAHRAICH', 'BAKSA', 'BALAGHAT', 'BALASORE', 'BALLARI', 'BALLIA', 'BALOD', 'BALODA BAZAR', 'BALODBAZAR', 'BALRAMPUR', 'BANASKANTHA', 'BANDA', 'BANDIPORA', 'BANGALORE COMMR.', 'BANGALORE RURAL', 'BANKA', 'BANKURA', 'BANSWARA', 'BARABANKI', 'BARAGARH', 'BARAMULLA', 'BARAN', 'BAREILLY', 'BARMER', 'BARNALA', 'BARPETA', 'BARRACKPUR PC', 'BARWANI', 'BASKA', 'BASTI', 'BATALA', 'BATHINDA', 'BDN CP', 'BEED', 'BEGUSARAI', 'BELAGAVI CITY', 'BELAGAVI DISTRICT', 'BELGAUM', 'BELLARY', 'BEMETARA', 'BEMETRA', 'BENGALURU CITY', 'BENGALURU DISTRICT', 'BERHAMPUR', 'BETTIAH', 'BETUL', 'BHABHUA', 'BHADOHI', 'BHADRAK', 'BHAGALPUR', 'BHANDARA', 'BHARATPUR', 'BHARUCH', 'BHATINDA', 'BHAVNAGAR', 'BHILWARA', 'BHIM NAGAR', 'BHIND', 'BHIWANI', 'BHOJPUR', 'BHOPAL', 'BHOPAL RAILWAY', 'BHOPAL RLY.', 'BIDAR', 'BIDHANNAGAR PC', 'BIEO', 'BIJAPUR', 'BIJNOR', 'BIKANER', 'BILASPUR', 'BIRBHUM', 'BISHNUPUR', 'BIZAPUR', 'BKP CP', 'BOKARO', 'BOLANGIR', 'BONGAIGAON', 'BORDER', 'BORDER DISTRICT', 'BOTAD', 'BOUDH', 'BUDGAM', 'BULANDSHAHAR', 'BULDHANA', 'BUNDI', 'BURDWAN', 'BURHANPUR', 'BUXAR', 'C. I. D.', 'C. I. D. CRIME', 'C.I.D.', 'CACHAR', 'CAR', 'CAW', 'CBCID', 'CBPURA', 'CENTRAL', 'CHAIBASA', 'CHAMARAJNAGAR', 'CHAMBA', 'CHAMOLI', 'CHAMPAWAT', 'CHAMPHAI', 'CHANDEL', 'CHANDIGARH', 'CHANDOLI', 'CHANDRAPUR', 'CHANGLANG', 'CHATRA', 'CHENGAI', 'CHENNAI', 'CHENNAI RLY.', 'CHENNAISUBURBAN', 'CHHATARPUR', 'CHHINDWARA', 'CHHOTAUDEPUR', 'CHICKMAGALUR', 'CHIKKABALLAPURA', 'CHIKKAMAGALURU', 'CHIRANG', 'CHITRADURGA', 'CHITRAKOOT', 'CHITRAKOOT DHAM', 'CHITTOOR', 'CHITTORGARH', 'CHURACHANDPUR', 'CHURU', 'CID', 'CID CRIME', 'COIMBATORE', 'COIMBATORE CITY', 'COIMBATORE RURAL', 'COIMBATORE URBAN', 'COOCHBEHAR', 'CP AMRITSAR', 'CP JALANDHAR', 'CP LUDHIANA', 'CRIME BRANCH', 'CRIME JAMMU', 'CRIME KASHMIR', 'CRIME SRINAGAR', 'CSM NAGAR', 'CUDDALORE', 'CUDDAPAH', 'CUTTACK', 'CYBER CELL', 'CYBERABAD', 'D AND N HAVELI', 'D&N HAVELI', 'DAHOD', 'DAKSHIN DINAJPUR', 'DAKSHIN KANNADA', 'DAKSHINA KANNADA', 'DAMAN', 'DAMOH', 'DANG', 'DANTEWARA', 'DARBHANGA', 'DARJEELING', 'DARRANG', 'DATIA', 'DATIYA', 'DAUSA', 'DAVANAGERE', 'DCP BBSR', 'DCP CTC', 'DEHRADUN', 'DELHI UT TOTAL', 'DEOGARH', 'DEOGHAR', 'DEORIA', 'DEVBHUMI DWARKA', 'DEWAS', 'DHALAI', 'DHAMTARI', 'DHANBAD', 'DHANBAD RAILWAY', 'DHANBAD RLY.', 'DHAR', 'DHARMAPURI', 'DHARWAD', 'DHARWAD COMMR.', 'DHARWAD RURAL', 'DHEMAJI', 'DHENKANAL', 'DHOLPUR', 'DHUBRI', 'DHULE', 'DIBANG VALLEY', 'DIBRUGARH', 'DIMA HASAO', 'DIMAPUR', 'DINDIGUL', 'DINDORI', 'DISCOM', 'DIU', 'DODA', 'DUMKA', 'DUNGARPUR', 'DURG', 'EAST', 'EAST GODAVARI', 'ECONOMIC OFFENCES UNIT', 'EOW', 'ERNAKULAM', 'ERNAKULAM COMMR.', 'ERNAKULAM RURAL', 'ERODE', 'ETAH', 'ETAWAH', 'FAIZABAD', 'FARIDABAD', 'FARIDKOT', 'FATEHABAD', 'FATEHGARH', 'FATEHGARH SAHIB', 'FATEHPUR', 'FAZILKA', 'FEROZEPUR', 'FEROZPUR', 'FIROZABAD', 'G. R. P.', 'G. R. P. RAIPUR', 'G.R.P', 'G.R.P.', 'G.R.P. AJMER', 'G.R.P. JODHPUR', 'G.R.P.(RLY)', 'G.R.P.AJMER', 'G.R.P.JODHPUR', 'GADAG', 'GADCHIROLI', 'GAJAPATI', 'GANDERBAL', 'GANDHINAGAR', 'GANGANAGAR', 'GANJAM', 'GARHWA', 'GARIYABAND', 'GARO HILLS EAST', 'GARO HILLS NORTH', 'GARO HILLS SOUTH', 'GARO HILLS SOUTH W.', 'GARO HILLS SOUTH WEST', 'GARO HILLS WEST', 'GAUTAMBUDH NAGAR', 'GAYA', 'GHAZIABAD', 'GHAZIPUR', 'GIR SOMNATH', 'GIRIDIH', 'GOALPARA', 'GODDA', 'GOLAGHAT', 'GOMATI', 'GONDA', 'GONDIA', 'GOPALGANJ', 'GORAKHPUR', 'GRP', 'GRP RAIPUR', 'GRP(RLY)', 'GULBARGA', 'GUMLA', 'GUNA', 'GUNTAKAL RAILWAY', 'GUNTAKAL RLY.', 'GUNTUR', 'GUNTUR URBAN', 'GURDASPUR', 'GURGAON', 'GUWAHATI CITY', 'GWALIOR', 'HAILAKANDI', 'HAMIRPUR', 'HAMREN', 'HANDWARA', 'HANUMANGARH', 'HAPUR', 'HARDA', 'HARDOI', 'HARIDWAR', 'HASSAN', 'HATHRAS', 'HAVERI', 'HAZARIBAGH', 'HIMATNAGAR', 'HINGOLI', 'HISSAR', 'HOOGHLY', 'HOSHANGABAD', 'HOSHIARPUR', 'HOWRAH', 'HOWRAH CITY', 'HOWRAH G. R. P.', 'HOWRAH G.R.P.', 'HOWRAH PC', 'HOWRAH RURAL', 'HUBBALLI DHARWAD CITY', 'HYDERABAD CITY', 'I&P HARYANA', 'I.G.I. AIRPORT', 'IDUKKI', 'IGI AIRPORT', 'IMPHAL EAST', 'IMPHAL WEST', 'IMPHAL(EAST)', 'IMPHAL(WEST)', 'INDORE', 'INDORE RAILWAY', 'INDORE RLY.', 'IRRIGATION & POWER', 'J.P.NAGAR', 'JABALPUR', 'JABALPUR RAILWAY', 'JABALPUR RLY.', 'JAGATSINGHPUR', 'JAGDALPUR', 'JAGRAON', 'JAINTIA HILLS', 'JAINTIA HILLS EAST', 'JAINTIA HILLS WEST', 'JAIPUR', 'JAIPUR EAST', 'JAIPUR NORTH', 'JAIPUR RURAL', 'JAIPUR SOUTH', 'JAIPUR WEST', 'JAISALMER', 'JAJPUR', 'JALANDHAR', 'JALANDHAR RURAL', 'JALAUN', 'JALGAON', 'JALNA', 'JALORE', 'JALPAIGURI', 'JAMALPUR RAILWAY', 'JAMALPUR RLY.', 'JAMMU', 'JAMNAGAR', 'JAMSHEDPUR', 'JAMSHEDPUR RAILWAY', 'JAMSHEDPUR RLY.', 'JAMTARA', 'JAMUI', 'JANJGIR', 'JASHPUR', 'JAUNPUR', 'JEHANABAD', 'JHABUA', 'JHAJJAR', 'JHALAWAR', 'JHANSI', 'JHARGRAM', 'JHARGRAM POLICE DISTRICT', 'JHARSUGUDA', 'JHUNJHUNU', 'JIND', 'JODHPUR', 'JODHPUR CITY', 'JODHPUR EAST', 'JODHPUR RURAL', 'JODHPUR WEST', 'JORHAT', 'JUNAGADH', 'K.G.F.', 'K.RAILWAYS', 'K/KUMEY', 'KABIRDHAM', 'KACHCHH EAST(G)', 'KACHCHH WEST(B)', 'KAITHAL', 'KALABURGI', 'KALAHANDI', 'KAMENG EAST', 'KAMENG WEST', 'KAMRUP', 'KANCHIPURAM', 'KANDHAMAL', 'KANGRA', 'KANKER', 'KANNAUJ', 'KANNUR', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KANSHIRAM NAGAR', 'KANYAKUMARI', 'KAPURTHALA', 'KARAIKAL', 'KARAULI', 'KARBI ANGLONG', 'KARGIL', 'KARIMGANJ', 'KARIMNAGAR', 'KARNAL', 'KARUR', 'KASARGOD', 'KASGANJ', 'KATHUA', 'KATIHAR', 'KATIHAR RAILWAY', 'KATIHAR RLY.', 'KATNI', 'KAUSHAMBI', 'KAWARDHA', 'KENDRAPARA', 'KEONJHAR', 'KHAGARIA', 'KHAMMAM', 'KHANDWA', 'KHANNA', 'KHARAGPUR G. R. P.', 'KHARAGPUR G.R.P.', 'KHARGON', 'KHARGONE', 'KHASI HILLS EAST', 'KHASI HILLS SOUTH W.', 'KHASI HILLS SOUTH WEST', 'KHASI HILLS WEST', 'KHEDA', 'KHEDA NORTH', 'KHIRI', 'KHOWAI', 'KHUNTI', 'KHURDA', 'KINNAUR', 'KIPHIRE', 'KISHANGANJ', 'KISHTWAR', 'KODAGU', 'KODERMA', 'KOHIMA', 'KOKRAJHAR', 'KOLAR', 'KOLASIB', 'KOLHAPUR', 'KOLKATA', 'KOLLAM', 'KOLLAM COMMR.', 'KOLLAM RURAL', 'KONDAGAON', 'KOPPAL', 'KORAPUT', 'KORBA', 'KORIYA', 'KOTA', 'KOTA CITY', 'KOTA RURAL', 'KOTTAYAM', 'KOWAI', 'KOZHIKODE', 'KOZHIKODE COMMR.', 'KOZHIKODE RURAL', 'KRISHNA', 'KRISHNAGIRI', 'KULGAM', 'KULLU', 'KUPWARA', 'KURNOOL', 'KURUKSHETRA', 'KURUNG KUMEY', 'KUSHI NAGAR', 'KUTCH', 'KUTCH (EAST(G))', 'KUTCH (WEST-BHUJ)', 'LAHAUL & SPITI', 'LAHAUL-SPITI', 'LAKHIMPUR', 'LAKHISARAI', 'LAKSHADWEEP', 'LALITPUR', 'LATEHAR', 'LATUR', 'LAWNGTLAI', 'LEH', 'LOHARDAGGA', 'LOHIT', 'LONGDING', 'LONGLENG', 'LOWER DIBANG VALLEY', 'LUCKNOW', 'LUDHIANA', 'LUDHIANA RURAL', 'LUNGLEI', 'MADHEPURA', 'MADHUBANI', 'MADURAI', 'MADURAI CITY', 'MADURAI RURAL', 'MADURAI URBAN', 'MAHABOOB NAGAR', 'MAHABOOBNAGAR', 'MAHARAJGANJ', 'MAHASAMUND', 'MAHENDERGARH', 'MAHENDRAGARH', 'MAHISAGAR', 'MAHOBA', 'MAINPURI', 'MAJITHA', 'MALAPPURAM', 'MALDA', 'MALKANGIR', 'MALKANGIRI', 'MAMIT', 'MANDI', 'MANDLA', 'MANDSAUR', 'MANDYA', 'MANGALORE CITY', 'MANGALURU CITY', 'MANSA', 'MATHURA', 'MAU', 'MAYURBHANJ', 'MEDAK', 'MEERUT', 'MEHSANA', 'METRO', 'METRO RAIL', 'MEWAT', 'MIDNAPUR', 'MIRZAPUR', 'MOGA', 'MOKOKCHUNG', 'MON', 'MORADABAD', 'MORBI', 'MORENA', 'MORIGAON', 'MOTIHARI', 'MUKTSAR', 'MUMBAI', 'MUMBAI COMMR.', 'MUMBAI RAILWAY', 'MUMBAI RLY.', 'MUNGALI', 'MUNGELI', 'MUNGER', 'MURSHIDABAD', 'MUZAFFARNAGAR', 'MUZAFFARPUR', 'MUZAFFARPUR RAILWAY', 'MUZAFFARPUR RLY.', 'MYSORE COMMR.', 'MYSORE RURAL', 'MYSURU CITY', 'MYSURU DISTRICT', 'N.C.HILLS', 'NABARANGPUR', 'NADIA', 'NAGAON', 'NAGAPATTINAM', 'NAGAUR', 'NAGPUR COMMR.', 'NAGPUR RAILWAY', 'NAGPUR RLY.', 'NAGPUR RURAL', 'NAINITAL', 'NALANDA', 'NALBARI', 'NALGONDA', 'NAMAKKAL', 'NANDED', 'NANDURBAR', 'NARAYANPUR', 'NARMADA', 'NARSINGHPUR', 'NASIK COMMR.', 'NASIK RURAL', 'NAUGACHIA', 'NAVI MUMBAI', 'NAVSARI', 'NAWADAH', 'NAWAN SHAHR', 'NAYAGARH', 'NEEMUCH', 'NELLORE', 'NEW DELHI', 'NICOBAR', 'NILGIRIS', 'NIZAMABAD', 'NORTH', 'NORTH & MIDDLE ANDAMAN', 'NORTH 24 PARGANAS', 'NORTH EAST', 'NORTH GOA', 'NORTH WEST', 'NORTH-EAST', 'NORTH-WEST', 'NOWRANGPUR', 'NUAPADA', 'OSMANABAD', 'OTHER UNITS', 'OUTER', 'PAKUR', 'PALAKKAD', 'PALAMU', 'PALANPUR', 'PALGHAR', 'PALI', 'PALWAL', 'PANCHKULA', 'PANCHMAHAL', 'PANCHSHIL NAGAR', 'PANIPAT', 'PANNA', 'PAPUM PARE', 'PAPUM PARE CITY', 'PAPUM PARE RURAL', 'PARBHANI', 'PASCHIM MEDINIPUR', 'PASCHIM MIDNAPUR', 'PATAN', 'PATHANAMTHITTA', 'PATHANKOT', 'PATIALA', 'PATNA', 'PATNA RAILWAY', 'PATNA RLY.', 'PAURI GARHWAL', 'PERAMBALUR', 'PEREN', 'PHEK', 'PILIBHIT', 'PITHORAGARH', 'PONDICHERRY', 'POONCH', 'PORBANDAR', 'PRABUDDH NAGAR', 'PRAKASHAM', 'PRATAPGARH', 'PUDUCHERRY', 'PUDUKOTTAI', 'PULWAMA', 'PUNE COMMR.', 'PUNE RAILWAY', 'PUNE RLY.', 'PUNE RURAL', 'PURAB MEDINIPUR', 'PURAB MIDNAPUR', 'PURI', 'PURNEA', 'PURULIA', 'R.P.O.', 'RAIBAREILLY', 'RAICHUR', 'RAIGAD', 'RAIGARH', 'RAILWAY', 'RAILWAY CHENNAI', 'RAILWAY TRICHY', 'RAILWAYS', 'RAILWAYS JAMMU', 'RAILWAYS KASHMIR', 'RAILWAYS KATRA', 'RAILWAYS KMR', 'RAIPUR', 'RAISEN', 'RAJAHMUNDRY', 'RAJGARH', 'RAJKOT CITY', 'RAJKOT COMMR.', 'RAJKOT RURAL', 'RAJNANDGAON', 'RAJOURI', 'RAJSAMAND', 'RAMABAI NAGAR', 'RAMANAGAR', 'RAMANAGARA', 'RAMBAN', 'RAMGARH', 'RAMNATHAPURAM', 'RAMPUR', 'RANCHI', 'RANGA REDDY', 'RATLAM', 'RATNAGIRI', 'RAYAGADA', 'REASI', 'REWA', 'REWARI', 'RI-BHOI', 'ROHTAK', 'ROHTAS', 'ROPAR', 'ROURKELA', 'RUDRA PRAYAG', 'RURAL', 'S.T.F.', 'SABARKANTHA', 'SAGAR', 'SAHARANPUR', 'SAHARSA', 'SAHEBGANJ', 'SAIHA', 'SALEM', 'SALEM CITY', 'SALEM RURAL', 'SALEM URBAN', 'SAMASTIPUR', 'SAMBA', 'SAMBALPUR', 'SAMBHAL', 'SANGLI', 'SANGRUR', 'SANT KABIRNAGAR', 'SARAIKELA', 'SARAN', 'SARGUJA', 'SAS NAGAR', 'SAS NGR', 'SATARA', 'SATNA', 'SAWAI MADHOPUR', 'SBS NAGAR', 'SEALDAH G. R. P.', 'SEALDAH G.R.P.', 'SECUNDERABAD RAILWAY', 'SECUNDERABAD RLY.', 'SEHORE', 'SENAPATI', 'SEONI', 'SERCHHIP', 'SHAHDOL', 'SHAHJAHANPUR', 'SHAJAPUR', 'SHAMLI', 'SHEIKHPURA', 'SHEOHAR', 'SHEOPUR', 'SHIMLA', 'SHIMOGA', 'SHIVPURI', 'SHOPIAN', 'SHRAWASTI', 'SIANG EAST', 'SIANG UPPER', 'SIANG WEST', 'SIBSAGAR', 'SIDHARTHNAGAR', 'SIDHI', 'SIHORE', 'SIKAR', 'SILIGURI G. R. P.', 'SILIGURI G.R.P.', 'SILIGURI PC', 'SILIGURI_PC', 'SIMDEGA', 'SINDHUDURG', 'SINGRAULI', 'SIPAHIJALA', 'SIRMAUR', 'SIROHI', 'SIRSA', 'SITAMARHI', 'SITAPUR', 'SIVAGANGAI', 'SIWAN', 'SOLAN', 'SOLAPUR COMMR.', 'SOLAPUR RURAL', 'SONBHADRA', 'SONEPUR', 'SONIPAT', 'SONITPUR', 'SOPORE', 'SOUTH', 'SOUTH 24 PARGANAS', 'SOUTH ANDAMAN', 'SOUTH GOA', 'SOUTH WEST', 'SOUTH-EAST', 'SOUTH-WEST', 'SPL CELL', 'SPL NARCOTIC', 'SPL TRAFFIC', 'SPUWAC', 'SRIKAKULAM', 'SRINAGAR', 'SRP (CUTTACK)', 'SRP (ROURKELA)', 'SRP(CUTTACK)', 'SRP(ROURKELA)', 'ST.RAVIDASNAGAR', 'STF', 'SUBANSIRI LOWER', 'SUBANSIRI UPPER', 'SUKMA', 'SULTANPUR', 'SUNDARGARH', 'SUPAUL', 'SURAJPUR', 'SURAT CITY', 'SURAT COMMR.', 'SURAT RURAL', 'SURENDRANAGAR', 'TAMENGLONG', 'TAPI', 'TARN TARAN', 'TAWANG', 'TEHRI GARHWAL', 'THANE COMMR.', 'THANE RURAL', 'THANJAVUR', 'THENI', 'THIRUNELVELI', 'THIRUNELVELI CITY', 'THIRUNELVELI RURAL', 'THIRUNELVELI URBAN', 'THIRUVALLUR', 'THIRUVANNAMALAI', 'THIRUVARUR', 'THOOTHUGUDI', 'THOOTHUKUDI', 'THOUBAL', 'THRISSUR', 'THRISSUR COMMR.', 'THRISSUR RURAL', 'TIKAMGARH', 'TINSUKIA', 'TIRAP', 'TIRUPATHI URBAN', 'TIRUPPUR', 'TIRUPPUR CITY', 'TONK', 'TOTAL', 'TOTAL DISTRICT(S)', 'TRAFFIC PS', 'TRICHY', 'TRICHY CITY', 'TRICHY RLY.', 'TRICHY RURAL', 'TRICHY URBAN', 'TRIVANDRUM', 'TRIVANDRUM COMMR.', 'TRIVANDRUM RURAL', 'TUENSANG', 'TUMAKURU', 'TUMKUR', 'UDAIPUR', 'UDALGURI', 'UDHAMPUR', 'UDHAMSINGH NAGAR', 'UDUPI', 'UJJAIN', 'UKHRUL', 'UMARIA', 'UMARIYA', 'UNA', 'UNAKOTI', 'UNNAO', 'UPPER DIBANG VALLEY', 'UTTAR DINAJPUR', 'UTTAR KANNADA', 'UTTARA KANNADA', 'UTTARKASHI', 'VADODARA CITY', 'VADODARA COMMR.', 'VADODARA RURAL', 'VAISHALI', 'VALSAD', 'VARANASI', 'VELLORE', 'VIDISHA', 'VIGILANCE', 'VIJAYAPURA', 'VIJAYAWADA', 'VIJAYAWADA CITY', 'VIJAYAWADA RAILWAY', 'VIJAYAWADA RLY.', 'VILLUPURAM', 'VILUPPURAM', 'VIRUDHUNAGAR', 'VISAKHA RURAL', 'VISAKHAPATNAM', 'VIZIANAGARAM', 'W.RLY', 'W.RLY AHMEDABAD', 'W.RLY VADODARA', 'WARANGAL', 'WARANGAL CITY', 'WARANGAL RURAL', 'WARANGAL URBAN', 'WARDHA', 'WASHIM', 'WAYANADU', 'WEST', 'WEST GODAVARI', 'WOKHA', 'YADGIRI', 'YAMUNANAGAR', 'YAVATMAL', 'ZUNHEBOTO', 'ZZ TOTAL']

958

# There's lots of corrections to be made here. But one has to be careful

1. AMBALA (RURAL) and AMBALA RURAL they are the same thing, same with AMBALA (URBAN) and AMBALA URBAN. What i think is that ambala is just one and then in the years 2012, 2013 and 2014 we have them recorded for the rural and urban parts notice that AMBALA alone has just dates from 2001 - 2011. So i could work with the three and if i need to get a total sum for AMBALA, i could always use regex.
2. BALODBAZAR and BALODA BAZAR are the same thing, it should be BALODA BAZAR.
3. BEMETARA and BEMETRA are the same thing, it should be BEMETARA.
4. ~~BHOPAL RLY. and BHOPAL RAILWAY are the same, we could just use BHOPAL RAILWAY. Notice that's there's also bhopal so i'm taking this to mean that all incidents that are recorded in bhopal didn't happen in bhopal railway region and it could be that there's more cases in the railway region of bhopal.~~
5. C.I.D. CRIME and CID CRIME seem to be the same, but have most of the observations containing 0. **LEAVE**
6. C. I. D. and CID seems to be the same. Except for GOA **LEAVE** 
7. CHITRAKOOT and CHITRAKOOT DHAM seem to be the same as CHITRAKOOT has data for just year 2014 and CHITRAKOOT DHAM has for 2001 - 2013.
8. D AND N HAVELI and D&N HAVELI should be the consistent.
9. DAKSHIN KANNADA and DAKSHINA KANNADA should be consistent.
10. DATIYA and DATIA should be DATIA.
11. ~~DHANBAD RAILWAY and DHANBAD RLY. are the same, the former contains only year 2014.~~
12. FEROZPUR and FEROZEPUR are the same and should be FIROZPUR.
13. Notice G. R. P. has different states all for year 2014, and G.R.P has data for punjab for 2001 to 2013, so we can assume that the  G. R. P. punjab should be  G.R.P **LEAVE**
14. Again G. R. P. has different states all for year 2014, and G.R.P. has some states that G. R. P. has and these states all don't have data for 2014 which is contained in G. R. P., so i'm assuming that for these states G. R. P. should be G.R.P., the states are UTTAR PRADESH	and HIMACHAL PRADESH. **LEAVE**
15. G.R.P.AJMER and G.R.P. AJMER are the same one just contains data for year 2010.
16. ~~G. R. P. (RLY) and GRP(RLY) are the same. ~~
17. GARO HILLS SOUTH W. and GARO HILLS SOUTH WEST are the same. 
18. Again, we have G. R. P. for HARNAYA and TRIPURA 2014 data and GRP has data for those two states, except 2014, so for those two states we shpuld change G. R. P. to GRP. **LEAVE**
19. GRP RAIPUR and G. R. P. RAIPUR are the same.
20. ~~GUNTAKAL RLY. and GUNTAKAL RAILWAY are the same.~~
21. HOWRAH G.R.P. and HOWRAH G. R. P. are the same. 
22. IGI AIRPORT and I. G. I. AIRPORT are the same.
23. IMPHAL EAST and IMPHAL(EAST) also IMPHAL WEST and IMPHAL (WEST) are the same. **AT THIS POINT I STOPPED NOTING RLY. and RAILWAY CASES. I JUST CORRECTED ALL CASES WITH THE CODE BELOW.**
24. KHARAGPUR G.R.P. and KHARAGPUR G. R. P. are the same.
25. KHARGON and KHARGONE are the same.
26. 'KHASI HILLS SOUTH W.', 'KHASI HILLS SOUTH WEST' are the same.
27. LAHAUL-SPITI and LAHAUL&SPITI are the same.
28. 'MAHENDERGARH', 'MAHENDRAGARH' are the same, should be mahendragarh.
29. 'MALKANGIR', 'MALKANGIRI are the same, should be 'MALKANGIRI.
30. MUNGALI', 'MUNGELI' are the same, should be 'MUNGELI'.
31. 24 PARGANAS NORTH and NORTH 24 PARGANAS are the same, use NORTH 24 PARGANAS.
32. NORTH-EAST and NORTH EAST are the same, since they are both in delhi, use NORTH EAST.
33. NORTH-WEST and NORTH WEST, since they are both in delhi, use NORTH WEST.
34. 'RAILWAYS KASHMIR' AND 'RAILWAYS KMR'are the same, use 'RAILWAYS KASHMIR'
18. ~~We have some rows giving us the total of other rows, we don't want that.~~
19. Notice that we have RAILWAY AND RAILWAYS they aren't the same, one is in delhi, the other in jammu respectively.
20. We have RAMANAGAR and RAMANAGARA in KARNATAKA, we should have just ramangara.
35. STF should be values for delhis S.T.F. but we have assam in STF, basically STF and S.T.F should be the same.**LEAVE** 
39. SEALDAH G. R. P.', 'SEALDAH G.R.P. should be the same, use SEALDAH G.R.P.
40. 'SILIGURI G. R. P.', 'SILIGURI G.R.P.', should be the same, use SILIGURI G.R.P.
41.  'SAS NAGAR', 'SAS NGR', seems to be the same, use SAS NAGAR
42. 'SILIGURI PC', 'SILIGURI_PC' seem to be the same, use SILIGURI PC
43. SOUTH 24 PARGANAS and 24 PARGANAS SOUTH, use SOUTH 24 PARGANAS
44. SOUTH-WEST and SOUTH WEST are the same, use SOUTH WEST.
45. 'SRP (CUTTACK)', 'SRP(CUTTACK)', are the same use SRP (CUTTACK).
46. 'SRP (ROURKELA)', 'SRP(ROURKELA)', are the same use SRP (ROURKELA)
47. THOOTHUKUDI and THOOTHUGUDI are the same, it should be THOOTHUKUDI.
48. TRICHY RAILWAY and RAILWAY TRICH are the same, use TRICHY RAILWAY.
49. UMARIYA and UMARIA are the same, it should be UMARIA.
50. UTTAR KANNADA and UTTARA KANNADA are the same, it should be UTTARA KANNADA
51. 'VILLUPURAM', 'VILUPPURAM' spelling error, use the correct one, 'VILUPPURAM'

In [23]:
# i used this cell to confirm some of the observations above for example, error 51
dataset[dataset.DISTRICT== 'VILLUPURAM']

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
571,TAMIL NADU,VILLUPURAM,2001,37,37,14,78,20,42,0
1287,TAMIL NADU,VILLUPURAM,2002,51,53,3,92,17,42,0
2016,TAMIL NADU,VILLUPURAM,2003,39,40,6,100,29,62,0
2745,TAMIL NADU,VILLUPURAM,2004,55,44,5,87,13,59,0
4218,TAMIL NADU,VILLUPURAM,2006,39,26,6,52,17,38,0
4961,TAMIL NADU,VILLUPURAM,2007,58,53,5,72,22,83,0
5716,TAMIL NADU,VILLUPURAM,2008,58,50,6,70,31,88,0
6483,TAMIL NADU,VILLUPURAM,2009,62,66,8,78,31,33,0
7260,TAMIL NADU,VILLUPURAM,2010,50,78,4,80,43,26,0
8047,TAMIL NADU,VILLUPURAM,2011,86,187,7,274,0,140,0
8849,TAMIL NADU,VILLUPURAM,2012,78,188,4,239,0,58,0
9671,TAMIL NADU,VILLUPURAM,2013,67,155,4,127,0,80,0
10490,TAMIL NADU,VILLUPURAM,2014,38,125,7,176,0,81,0

In [24]:
dataset[dataset.DISTRICT== 'VILUPPURAM']
# notice that above doesn't have year 2005 since for that year the district was mis-spelt.

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
3478,TAMIL NADU,VILUPPURAM,2005,49,49,9,50,5,59,0

### CONSISTENCY CORRECTIONS.

In [25]:
# correcting all RLY. cases

# First i looped throught the portion of the dataset that contained RLY.
for c in dataset[dataset.DISTRICT.str.contains('RLY.')].DISTRICT:
    
    # next, i split them into two since my aim was to replace the second part. e.g we had VIJAYAWADA RLY. after the split we 
    # have ['VIJAYAWADA', 'RLY.']. In some cases we didn't have up to 2 values in the split list.
    g= list(c.split(' '))
    
    # look at all the printed values of g for better understanding.
    print(g)
    try:
        # i used the try except because some list won't have any value for index 1 and would return an index error.
        if g[1] == 'RLY.':
            
            # here i replaced all RLY. with RAILWAY.
            dataset.DISTRICT.replace(c, g[0]+' RAILWAY', inplace= True)
    except IndexError:
        pass

['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['G.R.P.(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['G.R.P.(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['G.R.P.(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['G.R.P.(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['G.R.P.(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['W.RLY', 'AHMEDABAD']
['W.RLY', 'VADODARA']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['W.RLY', 'AHMEDABAD']
['W.RLY', 'VADODARA']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['GUNTAKAL', 'RLY.']
['SECUNDERABAD', 'RLY.']
['VIJAYAWADA', 'RLY.']
['JAMALPUR', 'RLY.']
['KATIHAR', 'RLY.']
['MUZAFFARPUR', 'RLY.']
['PATNA', 'RLY.']
['W.RLY', 'AHMEDABAD']
['W.RLY', 'VADODARA']
['DHANBAD', 'RLY.']
['JAMSHEDPUR', 'RLY.']
['BHOPAL', 'RLY.']
['INDORE', 'RLY.']
['JABALPUR', 'RLY.']
['MUMBAI', 'RLY.']
['NAGPUR', 'RLY.']
['PUNE', 'RLY.']
['CHENNAI', 'RLY.']
['TRICHY', 'RLY.']
['GRP(RLY)']
['W.RLY', 'AHMEDABAD']
['W.RLY', 'VADODARA']

In [26]:
# The code above corrects all the cases where RLY. and RAILWAY was written making our dataset consistent.
display(dataset[dataset.DISTRICT.str.contains('RLY')])

# the RLY cases left are quite different and we could correct those manually.
# correcting G.R.P.(RLY)
dataset.DISTRICT.replace('GRP(RLY)', 'G. R. P.(RLY)', inplace= True)

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
168,GUJARAT,W.RLY,2001,1,0,0,7,0,7,0
702,DELHI,G.R.P.(RLY),2001,1,7,0,4,0,0,0
884,GUJARAT,W.RLY,2002,3,7,0,4,0,5,0
1420,DELHI,G.R.P.(RLY),2002,0,0,0,3,0,0,0
1607,GUJARAT,W.RLY,2003,2,2,0,9,0,4,0
2149,DELHI,G.R.P.(RLY),2003,0,5,3,4,0,0,0
2335,GUJARAT,W.RLY,2004,3,0,0,9,10,4,0
2878,DELHI,G.R.P.(RLY),2004,5,2,2,2,1,0,0
3068,GUJARAT,W.RLY,2005,2,4,0,8,1,1,0
3611,DELHI,G.R.P.(RLY),2005,2,1,1,5,1,0,0
3801,GUJARAT,W.RLY,2006,2,4,0,6,1,2,0
4350,DELHI,GRP(RLY),2006,1,10,1,0,0,0,0
4541,GUJARAT,W.RLY,2007,0,1,0,7,0,4,0
5092,DELHI,GRP(RLY),2007,4,8,0,4,1,0,0
5285,GUJARAT,W.RLY,2008,2,3,1,5,1,1,0
5852,DELHI,GRP(RLY),2008,0,5,1,1,0,1,0
6047,GUJARAT,W.RLY,2009,1,1,0,5,2,3,0
6619,DELHI,GRP(RLY),2009,4,5,1,0,0,1,0
6820,GUJARAT,W.RLY,2010,0,2,0,4,1,3,0
7398,DELHI,GRP(RLY),2010,2,5,0,3,0,0,0
7601,GUJARAT,W.RLY AHMEDABAD,2011,0,1,0,6,0,0,0
7602,GUJARAT,W.RLY VADODARA,2011,0,1,0,2,0,0,0
8189,DELHI,GRP(RLY),2011,4,10,1,7,1,0,0
8400,GUJARAT,W.RLY AHMEDABAD,2012,1,2,0,2,0,2,0
8401,GUJARAT,W.RLY VADODARA,2012,0,2,0,1,0,1,0
9000,DELHI,GRP(RLY),2012,4,12,1,12,6,0,0
9213,GUJARAT,W.RLY AHMEDABAD,2013,0,5,0,2,0,5,0
9214,GUJARAT,W.RLY VADODARA,2013,1,2,0,6,0,0,0
9821,DELHI,GRP(RLY),2013,4,5,0,11,1,0,0
10028,GUJARAT,W.RLY AHMEDABAD,2014,0,0,0,6,0,2,0
10029,GUJARAT,W.RLY VADODARA,2014,0,3,0,2,1,0,0

In [27]:
# Removing the total rows
# We have some rows giving us the total of other rows, we don't want that.
# we drop them.
dataset = dataset[~dataset.DISTRICT.str.contains('TOTAL')]

In [28]:
# Changing column names.
dataset.columns = ['state/ut', 'district', 'year', 'rape',
       'kidnapping_and_abduction', 'dowry_deaths', 'assault_on_women',
       'insult_to_modesty', 'cruelty_by_husband_or_relatives',
       'importation_of_girls']

In [6]:
dataset.head()

,sr.no,state/ut,district,year,rape,kidnapping_and_abduction,dowry_deaths,assault_on_women,insult_to_modesty,cruelty_by_husband_or_relatives,importation_of_girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

## Data Exploration and Visualization

In [30]:
dataset.corr()
# what i was thinking was since assault on modesty is like touching a woman in the wrong places and because of the 0.7 
# correlation between rape and assault i was thinking that maybe in some of the assault cases , rape was also committed
# so basically a double offense ??

,year,rape,kidnapping_and_abduction,dowry_deaths,assault_on_women,insult_to_modesty,cruelty_by_husband_or_relatives,importation_of_girls
year,1.000000,0.169368,0.288149,0.025365,0.154910,-0.018629,0.145202,-0.025272
rape,0.169368,1.000000,0.597361,0.354274,0.699920,0.199903,0.589191,0.030191
kidnapping_and_abduction,0.288149,0.597361,1.000000,0.477835,0.439433,0.149050,0.588252,0.006666
dowry_deaths,0.025365,0.354274,0.477835,1.000000,0.253745,0.178263,0.341910,0.096861
assault_on_women,0.154910,0.699920,0.439433,0.253745,1.000000,0.365956,0.497796,-0.002388
insult_to_modesty,-0.018629,0.199903,0.149050,0.178263,0.365956,1.000000,0.271570,0.001541
cruelty_by_husband_or_relatives,0.145202,0.589191,0.588252,0.341910,0.497796,0.271570,1.000000,0.017236
importation_of_girls,-0.025272,0.030191,0.006666,0.096861,-0.002388,0.001541,0.017236,1.000000

In [ ]:
plt.scatter(dataset['Assault on women with intent to outrage her modesty'], dataset.Rape)

Question 1: How rape cases were reported each year from 2001 to 2014?

In [ ]:
rape_cases = pd.DataFrame(dataset.groupby('Year')['Rape'].sum())
rape_cases

In [ ]:
sns.scatterplot(data=rape_cases, x='Year', y='Rape')

Question 2: How does the dowry deaths and kidnapping and abduction vary between each states?

In [ ]:
crime_state = pd.DataFrame(dataset.groupby('STATE/UT').sum())
crime_state = crime_state.loc[:, ['Dowry Deaths', 'Kidnapping and Abduction']]
crime_state

In [ ]:
sns.set(style='whitegrid')
g = sns.PairGrid(crime_state, x_vars=crime_state.columns[1], y_vars=crime_state.columns[0], height=20)
sns.despine(left=True, bottom=True)
g.map(sns.stripplot, size=20, orient="h", palette="ch:s=1,r=-.1,h=1_r", linewidth=2, edgecolor="w")
plt.show()