In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\Crime-Against-Women-PP22-C623-APACHE-TEAM-master\crimes_against_women_2001-2014.csv")

In [4]:
df

,sr_no,state/ut,district,year,rape,kidnapping_and_abduction,dowry_deaths,assault_on_women,insult_to_modesty,cruelty_by_husband_or_relatives,importation_of_girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10181,829,DEHLI UT,VIGILANCE,2014,0,0,0,0,0,0,0
10182,830,DEHLI UT,WEST,2014,251,546,13,484,63,416,0
10183,832,LAKSHADWEEP,LAKSHADWEEP,2014,1,0,0,1,2,0,0
10184,834,PUDUCHERRY,KARAIKAL,2014,3,1,0,12,1,1,0
10185,835,PUDUCHERRY,PUDUCHERRY,2014,7,6,1,20,7,3,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10186 entries, 0 to 10185
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   sr_no                            10186 non-null  int64
 1   state/ut                         10186 non-null  object
 2   district                         10186 non-null  object
 3   year                             10186 non-null  int64
 4   rape                             10186 non-null  int64
 5   kidnapping_and_abduction         10186 non-null  int64
 6   dowry_deaths                     10186 non-null  int64
 7   assault_on_women                 10186 non-null  int64
 8   insult_to_modesty                10186 non-null  int64
 9   cruelty_by_husband_or_relatives  10186 non-null  int64
 10  importation_of_girls             10186 non-null  int64
dtypes: int64(9), object(2)
memory usage: 875.5+ KB

In [7]:
df_final = df.sort_values(["year"])

In [8]:
df_final

,sr_no,state/ut,district,year,rape,kidnapping_and_abduction,dowry_deaths,assault_on_women,insult_to_modesty,cruelty_by_husband_or_relatives,importation_of_girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
451,471,PUNJAB,AMRITSAR,2001,9,26,7,9,0,77,0
452,472,PUNJAB,BARNALA,2001,12,13,6,13,0,24,0
453,473,PUNJAB,BATALA,2001,8,4,6,1,0,19,0
454,474,PUNJAB,BHATINDA,2001,13,9,4,15,0,57,0
...,...,...,...,...,...,...,...,...,...,...,...
9652,277,JHARKHAND,JAMTARA,2014,27,24,10,29,0,70,2
9653,278,JHARKHAND,KHUNTI,2014,7,8,2,3,0,11,0
9654,279,JHARKHAND,KODERMA,2014,15,15,16,0,0,39,0
9644,269,JHARKHAND,DUMKA,2014,39,16,11,9,4,55,0
10185,835,PUDUCHERRY,PUDUCHERRY,2014,7,6,1,20,7,3,0

In [17]:
df_kar = df[df["state/ut"]=="KARNATAKA"]

In [21]:
df_bangalore = df_kar[df_kar["district"]=="BANGALORE COMMR."]

In [30]:
df_bangalore

,sr_no,state/ut,district,year,rape,kidnapping_and_abduction,dowry_deaths,assault_on_women,insult_to_modesty,cruelty_by_husband_or_relatives,importation_of_girls
244,255,KARNATAKA,BANGALORE COMMR.,2001,40,56,40,223,51,229,0
926,972,KARNATAKA,BANGALORE COMMR.,2002,32,58,33,237,62,242,0
1614,1695,KARNATAKA,BANGALORE COMMR.,2003,34,11,34,213,39,213,0
2307,2423,KARNATAKA,BANGALORE COMMR.,2004,32,61,44,151,35,227,0
3006,3157,KARNATAKA,BANGALORE COMMR.,2005,38,25,39,167,39,287,0
3705,3891,KARNATAKA,BANGALORE COMMR.,2006,33,29,50,143,2,290,0
4412,4633,KARNATAKA,BANGALORE COMMR.,2007,62,35,54,187,2,290,0
5124,5380,KARNATAKA,BANGALORE COMMR.,2008,54,2,52,179,1,307,0
5854,6145,KARNATAKA,BANGALORE COMMR.,2009,65,2,50,251,35,367,0
6593,6919,KARNATAKA,BANGALORE COMMR.,2010,65,29,52,308,50,398,0
7340,7701,KARNATAKA,BANGALORE COMMR.,2011,97,206,53,250,40,458,0
8106,8502,KARNATAKA,BANGALORE COMMR.,2012,90,433,51,321,51,524,0
8885,299,KARNATAKA,BANGALORE COMMR.,2013,80,538,52,378,73,482,0

In [32]:
import numpy as np
df_bangalore["t"] = np.arange(1,14)

df_bangalore["t_square"] = df_bangalore["t"] * df_bangalore["t"]
df_bangalore["log_rape"] = np.log(df_bangalore["rape"])
df_bangalore.columns

C:\Users\ZH\AppData\Local\Temp/ipykernel_7204/2224261929.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bangalore["t"] = np.arange(1,14)
C:\Users\ZH\AppData\Local\Temp/ipykernel_7204/2224261929.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bangalore["t_square"] = df_bangalore["t"] * df_bangalore["t"]
C:\Users\ZH\AppData\Local\Temp/ipykernel_7204/2224261929.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bangalore["log_rape"] = np.log(df_bangalore["rape"])

Index(['sr_no', 'state/ut', 'district', 'year', 'rape',
       'kidnapping_and_abduction', 'dowry_deaths', 'assault_on_women',
       'insult_to_modesty', 'cruelty_by_husband_or_relatives',
       'importation_of_girls', 't', 't_square', 'log_rape'],
      dtype='object')

In [33]:
# Data Partition
Train = df_bangalore.head(10)
Test = df_bangalore.tail(3)

Linear

In [34]:
import statsmodels.formula.api as smf 

linear_model = smf.ols('rape ~ t', data = Train).fit()
pred_linear =  pd.Series(linear_model.predict(pd.DataFrame(Test['t'])))
rmse_linear = np.sqrt(np.mean((np.array(Test['rape']) - np.array(pred_linear))**2))
rmse_linear

20.874949435319596

Exponential

In [37]:
Exp = smf.ols('log_rape ~ t', data = Train).fit()
pred_Exp = pd.Series(Exp.predict(pd.DataFrame(Test['t'])))
rmse_Exp = np.sqrt(np.mean((np.array(Test['rape']) - np.array(np.exp(pred_Exp)))**2))
rmse_Exp

18.928533729978327

Quadratic

In [38]:
Quad = smf.ols('rape ~ t + t_square', data = Train).fit()
pred_Quad = pd.Series(Quad.predict(Test[["t", "t_square"]]))
rmse_Quad = np.sqrt(np.mean((np.array(Test['rape']) - np.array(pred_Quad))**2))
rmse_Quad

17.459506695306878

In [44]:
data = {"MODEL":pd.Series(["rmse_linear","rmse_Exp","rmse_Quad"]),"RMSE_Values":pd.Series([rmse_linear,rmse_Exp,rmse_Quad])}
table_rmse = pd.DataFrame(data)
table_rmse

         MODEL  RMSE_Values
0  rmse_linear    20.874949
1     rmse_Exp    18.928534
2    rmse_Quad    17.459507

In [45]:
# 'rmse_quad' has the least value among the models prepared so far Predicting new values 
predict_data = pd.read_csv(r"D:\Crime-Against-Women-PP22-C623-APACHE-TEAM-master\Bangalore_rape_test.csv")

model_full = smf.ols('rape ~ t+t_square', data=df_bangalore).fit()

pred_new  = pd.Series(model_full.predict(predict_data))
pred_new

predict_data["predicted_rape"] = pd.Series(pred_new)

In [47]:
predict_data

   year   t  t_square  predicted_rape
0  2014  14       196      105.069930
1  2015  15       225      115.792208